<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
<!--
            <PatternLayout pattern="%m%n"/>
-->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level  (%F:%L)  %logger{36} - %msg%n" />
        </Console>


        <File name="FILE" fileName="log4j2.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level   %logger{36} - %msg%n" />
        </File>

    </Appenders>

    <Loggers>

        <Root level="WARN">

            <!--
            <AppenderRef ref="FILE" />
            -->
            <AppenderRef ref="STDOUT" />
        </Root>

    </Loggers>

</Configuration>
